<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Мои любимые места</title>
  </head>
  <body>

    <div class="side-nav">
      <a href="/zadanie1/index.html" >Главная</a>
      <a href="/zadanie2/index.html" class="active">Любимые места</a>
      <a href="/zadanie3/index.html">Любимые книги</a>
    </div>

  <div class="main">

      <h1>Мои любимые места</h1>
      <div class="places-container">
        <div>
          <h2>Мальдивские острова</h2>
          <div class="conatiner-info">
            <div>
              <p>Мальди́вы, официальное название — Мальди́вская Респу́блика, — островное государство в Южной Азии, располагающееся на группе атоллов к югу от полуострова Индостан на стыке Аравийского и Лаккадивского морей Индийского океана. Крупнейшее в мире «коралловое» государство и наименьшее по площади государство Азии. Столица — город Мале. Население — 402 071 человек, в том числе 338 434 гражданина и 63 637 неграждан. Государственная религия — ислам.</p>
            </div>
            <div class="geo">
              <img src="/zadanie2/map maldives.jpg">
              <img src="/zadanie2/atolls.jpg">
            </div>
          </div>
          <div class="actions">
            <button style="margin-right: 5px;" class="like-btn">Лайк</button>
            <button class="dislike-btn">Дизлайк</button>
          </div>
        </div>
        <div>
          <h2>Впечатления</h2>
          <p>По прилете в Мале у туристов есть два варианта, как добраться до курортного отсрова: на специальном катере(яхте) или на гидросамолёте. Я добирался до курортного острова на гидросамолёте, потому что из иллюминатора открываются виды неописуемой красоты. Само путешествие на мальдивские острова мне подарило целую кучу эмоций. На самом острове довольно много развлечений. Ешь да пей, себя не жалей. Мне нравилось заниматься снорклингом - плавать с ластами, маской и трубкой, и наблюдать за пёстрыми подводными жителями. Но был и казус, когда я встретил мурену. Проплывая мимо камней и корралов, я наткнулся на какой-то камень с дырой. Ну и решил приглядеться что же там такое в этой дыре. И как только я понимаю, что вижу что-то глазастое и зубастое, то я сверкая ластами поплыл к берегу. После этого случая я боялся заходить в воду. Если не брать этот случай во внимание, то я отличнно провёл там время: загорал на песке, плавал, участвовал в тематических шоу.</p>
        </div>
        <div>
          <h2>Впечатления</h2>
          <p>В Воронеж я ездил с друзьями. Добирались мы на машине. Ехали примерно 4 часа. Там мы посетили массу достопримечательностей. Больше всего нам понравился памятник котёнку с улицы Лизюкова, который посвящён мультфильму. Посмотрели на мост, который соединяет 2 части города. Что касается проживания, то жили мы вчетвером в снятой нами квартире. Почему Воронеж? Потому что это родной город одного из моих друзей. Он давно хотел посетить его. </p>
        </div>
        <div>
          <h2>Воронеж</h2>
          <p>Воро́неж — город на юге Центральной России, административный центр Воронежской области. Расположен на берегах реки Воронеж, в 12 километрах от её впадения в Дон; расстояние от Москвы — около 520 км. Население Воронежа по состоянию на 1 января 2021 года составляет 1 057 681 человек.</p>
          <div class="geo">
            <img src="/zadanie2/voronezh map.jpg">
            <img src="/zadanie2/voronezh.jpg">
          </div>
          <div class="actions">
            <button style="margin-right: 5px;" class="like-btn">Лайк</button>
            <button class="dislike-btn">Дизлайк</button>
          </div>
        </div>
        <div>
          <h2>Санкт-Петербург</h2>
          <p>Санкт-Петербу́рг — второй по численности населения город России. Город федерального значения. Административный центр Северо-Западного федерального округа. Основан 16 мая 1703 года царём Петром I. В 1714—1728 и 1732—1918 годах — столица Российского государства.</p>
          <div class="geo">
            <img src="/zadanie2/piter map.jpg">
            <img src="/zadanie2/piter.jpg">
          </div>
          <div class="actions">
            <button style="margin-right: 5px;" class="like-btn">Лайк</button>
            <button class="dislike-btn">Дизлайк</button>
          </div>
        </div>
        <div>
          <h2>Впечатления</h2>
          <p>Мы с друзьями решили, что необходимо посетить культурную столицу России - Санкт-Петербург. От количества достопримечательностей просто глаза разбегались. Все их посетить, к сожалению, не удалось, но в целом мы получили, что хотели. Екатерининский дворец, Дворцовый мост, Кунсткамера - это лишь малая часть списка тех мест, которые мы посетили. Лично мне больше всего понравился Дворцовый мост. Ночью это просто незабываемое зрелище. </p>
        </div>
      </div>
    </div>
  </body>
</html>
