<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Личная страница</title>
    <link rel="stylesheet" href="styles.css">
    <style>
      body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    }
  
    .main {
        margin-left: 25%; /* установите отступ для контента */
        padding: 20px;
        box-sizing: border-box;
    }
    .profile-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }
    .profile-header img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .profile-header h1 {
        font-size: 32px;
        margin: 0;
    }
    .profile-header p {
        font-size: 18px;
        margin: 0;
        color: #888;
    }
    .profile-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .profile-body div {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        flex-basis: calc(33.33% - 20px);
    }
    .profile-body div h2 {
        font-size: 24px;
        margin-top: 0;
    }
    .profile-body div p {
        font-size: 16px;
        margin-bottom: 0;
    }


    .events-section {
        margin-top: 40px;
        margin-left: 25%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        flex-basis: calc(33.33% - 20px);
        
    }
    
    .event-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .event {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
    }
    
    .event-date {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    
    .event-description {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .event-actions {
        margin-bottom: 10px;
    }
    
    .comments {
        margin-top: 20px;
    }
    
    .comment-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .comment {
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #fff;
    }
    
    .comment-author {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .comment-text {
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    .form-group {
        margin-bottom: 10px;
    }

    /* кнопки лайк дизлайк*/
    /* Стили для кнопок лайка и дизлайка */
    .like-dislike {
      display: flex;
      align-items: center;
    }

    .like-btn, .dislike-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: none;
      cursor: pointer;
      font-size: 16px;
    }

    .like-btn i, .dislike-btn i {
      margin-right: 8px;
    }



    /* Стили для счетчиков лайков и дизлайков */
    .like-count, .dislike-count {
      display: inline-block;
      margin-left: 8px;
      font-size: 14px;
      font-weight: bold;
    }

    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    input[type="text"],
    textarea {
        resize: none;
        width: 100%;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box;
        margin-bottom: 5
    }

    /* Стили для модального окна */

    .trigger-modalwin {
        margin-left: 25%;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        flex-basis: calc(33.33% - 20px);
    }

    #modalbutton {
        padding: 20px 30px; /* задаем отступы внутри кнопки */
        background-color: red; /* задаем цвет фона кнопки */
        border: none; /* убираем границу */
        color: white; /* задаем цвет текста */
        text-align: center; /* выравниваем текст по центру */
        text-decoration: none; /* убираем подчеркивание */
        display: inline-block; /* делаем кнопку строчным элементом, чтобы она занимала только необходимую ширину */
        font-size: 16px; /* задаем размер текста */
        cursor: pointer; /* меняем курсор при наведении на кнопку */
        width: 100%;
        height: 100%;
    }

    .modal {
        display: none; /* по умолчанию окно скрыто */
        position: fixed; /* окно всегда остается на месте при прокрутке */
        z-index: 999; /* помещаем окно поверх остальных элементов на странице */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* добавляем прокрутку, если содержимое окна не помещается на экране */
        background-color: rgba(0,0,0,0.4); /* делаем задний фон чуть затемненным */
        margin-left: 25%;
    }

    /* Стили для содержимого модального окна */
    .modal-content {
        background-color: #fefefe;
        margin: 5%; /* расположение содержимого окна по центру экрана */
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
        justify-content: center;
        align-items: center;
    }

    /* Стили для кнопки "Закрыть" */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    

  /* задаем стиль для боковой навигационной панели */
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 25%;
        background-color: #f1f1f1;
        overflow-x: hidden;
        padding-top: 20px;
        z-index: 998; 
    }

    /* задаем стиль для ссылок в боковой навигационной панели */
    .side-nav a {
    display: block; /* отображаем ссылки как блоки */
    color: #000; /* цвет текста */
    padding: 16px; /* добавляем отступы */
    text-decoration: none; /* убираем подчеркивание */
    }

    /* задаем стиль для активной ссылки в боковой навигационной панели */
    .side-nav a.active {
    background-color: #4CAF50; /* задаем фоновый цвет для активной ссылки */
    color: white; /* меняем цвет текста на белый */
    }
    </style>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="main">
        <div class="profile-header">
            <img style="float: left;" src="images/square.png" alt="Profile picture">
            <h1>Смирнов Владислав Станиславович</h1>
            <p>Студент МГОТУ</p>
        </div>
        <div class="profile-body">
            <div class="aboutme">
                <h2>Обо мне</h2>
                <p>Люблю играть в игры и смотреть сериалы. Периодически хожу в тренажерный зал. Рост примерно 2 метра. По выходным провожу время с друзьями либо за компьютером. </p>
            </div>
            <div>
                <h2>Навыки</h2>
                <p>HTML, CSS, JavaScript, PHP, MSQLSM</p>
            </div>
            <div>
                <h2>Проекты</h2>
                <p>1. Главная<br>2. Любимые места<br>3. Любимые книги</p>
            </div>
            <div>
                <h2>Друзья</h2>
                <p><a href="https://vk.com/rocksabbat">Артём</a> учится в Финансовом университете на предпринимателя<br><a href="https://vk.com/montajnikvisotnic">Вова</a> учится в МГУ по направлению ВМК<br><a href="https://vk.com/chukarin2014">Игорь</a> учится в МИРЭА по направлению КИС</p>
            </div>
        </div>
    </div>
    

    <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form id="quiz-form">
            <h3>Кто проживает на дне океана?</h3>
            <div class="answer-container" id="answ-container1" style="background-color: none; width: 300px;">
              <label>
                <input type="radio" name="q1" value="a" onClick=" disableRadioButtonsBlock (name); changeColorAnswCont1('g')"> Спанч Боб Сквэр Пэнтс
              </label>
              <label>
                <input type="radio" name="q1" value="b" onClick="disableRadioButtonsBlock (name); changeColorAnswCont1('r')"> Кик Бутовски
              </label>
              <label>
                <input type="radio" name="q1" value="c" onClick="disableRadioButtonsBlock (name); changeColorAnswCont1('r')"> Финис и Ферб
              </label>
            </div>
      
            <h3>А, И, Б сидели на трубе. А упала. Б пропала. Кто остался на трубе?</h3>
            <div class="answer-container" id="answ-container2" style="background-color: none; width: 300px;">
              <label>
                <input type="radio" name="q2" value="a" onClick=" disableRadioButtonsBlock (name); changeColorAnswCont2('r')"> А
              </label>
              <label>
                <input type="radio" name="q2" value="b" onClick=" disableRadioButtonsBlock (name); changeColorAnswCont2('g')"> И
              </label>
              <label>
                <input type="radio" name="q2" value="c" onClick="disableRadioButtonsBlock (name); changeColorAnswCont2('r')"> Б
              </label>
            </div>
      
            <h3>Вам нравится этот опрос?</h3>
            <div class="answer-container" id="answ-container3" style="background-color: none; width: 300px;">
              <label>
                <input type="radio" name="q3" value="a" onClick="disableRadioButtonsBlock (name); changeColorAnswCont3('r')"> Нет
              </label>
              <label>
                <input type="radio" name="q3" value="b" onClick="disableRadioButtonsBlock (name); changeColorAnswCont3('r')"> Да
              </label>
              <label>
                <input type="radio" name="q3" value="c" onClick="disableRadioButtonsBlock (name); changeColorAnswCont3('g')"> Очень
              </label>
            </div>
      
            <br>
            <button id="submitButton" type="submit">Проверить результат</button>
            <button id="resetButton" type="reset" class="retry" disabled="true">Еще разок?</button>
          </form>
          
        </div>
    </div>

    <section class="trigger-modalwin">
      <button id="modalbutton" onclick="showModalWin()">ПРОЙДИТЕ ОПРОС!!!</button>
    </section>

    <section class="events-section">
        <h2>Жизненные события</h2>
        <ul class="event-list">
          <li class="event" id="event1">
            <div class="event-date">01.01.2023</div>
            <div class="event-description">Празднование Нового Года</div>
            <div class="event-actions">
              <div class="like-dislike">
                <div class="like">
                <button class="like-btn">
                  <i class="fa fa-thumbs-up"></i> Like
                  <span class="like-count"></span>
                </button>
                </div>
                <div class="dislike">
                <button class="dislike-btn">
                  <i class="fa fa-thumbs-down"></i> Dislike
                  <span class="dislike-count"></span>
                </button>
                </div>
              </div>
            </div>
            <div class="comments">
              <h3>Комментарии:</h3>
              <ul class="comment-list">
                <li class="comment">
                  <div class="comment-author">Имя автора</div>
                  <div class="comment-text">Текст комментария</div>
                </li>
                <!-- Другие комментарии могут быть добавлены сюда -->
              </ul>
              <form>
                <h3>Оставить комментарий:</h3>
                <div class="form-group">
                  <label for="comment-author">Имя:</label>
                  <input type="text" id="comment-author" name="comment-author">
                </div>
                <div class="form-group">
                  <label for="comment-text">Комментарий:</label>
                  <textarea id="comment-text" name="comment-text"></textarea>
                </div>
                <button type="submit" class="comment-btn">Отправить</button>
              </form>
            </div>
          </li>
          <!-- Другие события могут быть добавлены сюда -->
        </ul>
      </section>
      <script src="scripts.js"></script>
      
  </body>
</html>
