body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
   }    

  .main-nav {
    margin-left: 25%; 
    padding: 20px;
    box-sizing: border-box;
   }

  .main {
    display: flex;
    flex-wrap: wrap;
    width: 1000px ;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    color: #0077b6;
    margin-top: 50px;
  }

  .comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
  }

  
  .impressions {
    font-weight: bold;
  }

  .text {
    align-self: center;
    padding: 5px;
  }


  .book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
  }

  .book img {
    height: 150px;
    margin-bottom: 10px;
  }

  .book-title {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .book-author {
    font-style: italic;
  }

  .book-description {
    margin-top: 10px;
  }

  .actions {
    margin-top: auto;
  }

  .buy {
    margin-top: auto
  }      
  .side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 999; 
  }

      
  .side-nav a {
    display: block; 
    color: #000; 
    padding: 16px;
    text-decoration: none; 
  }

  .side-nav a.active {
    background-color: #4CAF50;
    color: white;
  }
